h1 {
    background-color: black;
    color: white;
    font-size: 64px;
    font-family: sans-serif;
    padding-left: 5px;
}
#cloud {
    color: teal;
}
h2 {
    background-color: rebeccapurple;
    color: white;
    font-style: italic;
    text-align: center;    
    font-size: 32px;
    font-family: cursive;
}
h3 {
    background-color: #81d4fa;
    text-decoration: underline;
    text-align: right;
    font-family: sans-serif;
}